<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.water.mapper.WaterClassMapper">

    <update id="updateTreeNodeStatus" parameterType="java.lang.String">
        update water_class
        set has_child = #{status}
        where id = #{id}
    </update>

    <!-- 【vue3专用】 -->
    <select id="queryListByPid" parameterType="java.lang.Object"
            resultType="org.jeecg.common.system.vo.SelectTreeModel">
        select
        id as "key",
        name as "title",
        (case when has_child = '1' then 0 else 1 end) as isLeaf,
        pid as parentId
        from water_class
        where pid = #{pid}
        <if test="query != null">
            <foreach collection="query.entrySet()" item="value" index="key">
                and ${key} = #{value}
            </foreach>
        </if>
    </select>
    <select id="totalOrderByDate"
            resultType="org.jeecg.modules.demo.water.dashboardController.Bean.TotalOrderBean">
        SELECT COUNT(id) AS orders, COUNT(DISTINCT user_id) AS users, SUM(prices) as princes, DATE(create_time) as day
        FROM water_order
        WHERE ordre_status > 1
          AND DATE(create_time) BETWEEN DATE("${create_time_begin}") AND DATE("${create_time_end}")
        GROUP BY day
    </select>

</mapper>